*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
}

.navlist{
    display: flex;
    margin-left: -390px;
    margin-top: 10px;
}

.navlist a{
    color: white;
    margin-left: 80px;    /* 文字間距離 */
    font-size: 19px;
    font-weight: 550;
    border-bottom: 2px solid transparent;     /* 正方形底框 */
    /* border-bottom: 2px solid white;  有底線*/ 
    transition: all .55s ease;     /* 滑鼠游標碰到title會慢慢出現白底線，動態設定 */
}

.navlist a:hover{     /* 滑鼠游標碰到title會出現白底線 */
    border-bottom: 2px solid white;
}

.hero{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(245.59deg, #FFF254 0%, #FFAD50 28.53%, #FF7850 75.52%);   /* 背景漸層 */
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);    /* 這句到下面 文字向下移 */
    align-items: center;
    gap: 2rem;
}

section{     /* 文字向右移 */
    padding: 0 19%;
}

.hero-text h5{
    font-size: 14px;
    font-weight: 400;
    color: white;
    margin-bottom: 40px;
} 

.hero-text h1{
    font-family: 'Permanent Marker', cursive;
    font-size: 90px;
    line-height: 1;
    color: white;
    margin: 0 0 45px;
    /* padding-left: 45%; */
    position: relative;
    top: 0;
    left: 50%;
}

.hero-text h4{
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin-bottom: 10px;
}

.hero-text p{
    color: white;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 39px;
}

.hero-img img{     /* 編輯圖片 */
    width: 350px;
    height: auto;
    float: right; 
    /* 20240604update */
    animation-name: example;
    animation-duration: 4s;
}

/* 20240604update */
@keyframes example {
    0%   {left:0px; top:0px;}
    25%  {left:200px; top:0px;}
    50%  {left:200px; top:200px;}
    75%  {left:0px; top:200px;}
    100% {left:0px; top:0px;}
}

.hero-text a{
    display: inline-block;
    color: white;
    background: #F1C848;     /* 底框背景 */
    border: 1px solid transparent;
    padding: 12px 30px;
    border-radius: 30px;     /* 底框四角弧度 */
    text-transform: uppercase;     /* 文字大寫 */
    transition: all .55s ease;
}

.hero-text a:hover{
    background: transparent;     /* 滑鼠游標碰到按鈕，底框會慢慢消失 */
    border: 1px solid white;     /* 滑鼠游標碰到按鈕，底框會慢慢消失，只留下白色邊框和文字 */
    transform: translateY(-8px);     /* 滑鼠游標碰到按鈕，底框會慢慢消失，同時間向右移8px，只留下白色邊框和文字 */
}

.hero-text a.tx{
    margin-left: 30px;     /* 向右移20px */
}

@media (max-width: 820px){
    header{
        padding: 20px 15%;
        transition: .2s;
    }
}
@media (max-width: 700px){
    header{
        padding: 20px 25%;
        transition: .2s;
    }
}